<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="style.css">
    <title>Layouts</title>
</head>
<body>
    <hr>
    <h2>Layout 1</h2>
    <div class="layout1">
        <div class="logo">Logo</div>
        <div class="nav">Nav</div>
        <div class="header">Header</div>
        <div class="content">
            <div class="sidebar">Sidebar</div>
            <div class="article">Body area</div>
        </div>
        <div class="footer">Footer</div>
    </div>
    <hr>
    <h2>Layout 2</h2>
    <div class="layout2">
        <div class="logo2">Logo</div>
        <div class="nav2">Nav</div>
        <div class="header">Header</div>
        <div class="intro">Intro text</div>
        <div class="content">
            <div class="first">Box1</div>
            <div class="second">Box2</div>
            <div class="third">Box3</div>
        </div>
        <div class="footer">Footer</div>
    </div>
    <hr>
    <h2>Layout 3</h2>
    <div class="layout3">
        <div class="logo">Logo</div>
        <div class="envelope">
            <div class="nav3">Nav</div>
            <div class="container3">
                <div class="header3">Header3</div>
                <div class="content3">Body area3</div>
            </div>
        </div>
        <div class="footer">Footer</div>
    </div>
<hr>
<h2>Layout 4</h2>
    <div class="layout4">
        <div class="logo2">Logo</div>
        <div class="nav2">Nav</div>
        <div class="grid16">
            <div class="cell cell1">box</div>
            <div class="cell cell2">box</div>
            <div class="cell cell3">box</div>
            <div class="cell cell4">box</div>
            <div class="cell cell5">box</div>
            <div class="cell cell6">box</div>
            <div class="cell cell7">box</div>
            <div class="cell cell8">box</div>
            <div class="cell cell9">box</div>
            <div class="cell cell10">box</div>
            <div class="cell cell11">box</div>
            <div class="cell cell12">box</div>
            <div class="cell cell13">box</div>
            <div class="cell cell14">box</div>
            <div class="cell cell15">box</div>
            <div class="cell cell16">box</div>
        </div>
        <div class="content">
            <div class="first">Box1</div>
            <div class="second">Box2</div>
            <div class="third">Box3</div>
        </div>
        <div class="footer">Footer</div>
    </div>

</body>
</html>